@import 'typography';


//  GENERAL STYLES  //

html {
    font-size: 62.5%;
}

body {
    font-family: $primary-font;
    font-size: 1.6rem;
    overflow-x: hidden;
}

ul {
    margin: 0;
    padding: 20px;
}

a {
    text-decoration: none;
}

ul li {
    line-height: 2;
}

button {
    width: 200px;
    background: $dark;
    color: $light;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    border: 2px solid $light;
    box-shadow: 10px 10px 4px rgba(100, 100, 100, 0.498039);
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
    padding: 80px 0;
}

// the orange font color used in spans throughout
.orange {
    color: $tertiary;
}


//  GENERAL ENDS HERE   //

//  HEADER STYLES   //

header {
    background: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 100%), url('/src/assets/hero.jpg') fixed no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;

    h1 {
        color: $light;
        text-transform: uppercase;
        font-weight: 700;
    }

    .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-button {
        margin-top: 0;
    }
}

//  HEADER ENDS HERE    //

//  DEMENTIA SECTION STYLES //

.dementia-facts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: $dementia-background;
    color: $light;
    flex-wrap: wrap;

    p {
        text-align: center;
    }

}

.dementia-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-small;

    h3, p {
        padding: 5px 0;
    }
}

.dementia-headline {
    flex-basis: 100%;
    margin-top: 50px;
}

//  DEMENTIA SECTION ENDS HERE  //

//  MEMORY PLAYER SECTION STYLES    //

.memory-player {
    background: $tertiary;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    h3 {
        width: 60%;
    }

    p {
        font-weight: 700;
    }
}

//  MEMORY PLAYER STYLES END HERE   //

//  'TAKE THE CHALLENGE' SECTION STYLES //

.take-the-challenge {
    display: flex;
    flex-direction: row;
    background-color: $primary-background;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 40px 40px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25); 
    width: 400px;

    .challenge-link {
        color: $tertiary;
        font-weight: 700;
    }
}

.card-header {
    background-color: $secondary-background;
    padding: 20px;
    height: 200px;
    border-radius: 40px 40px 0 0;
    display: flex;
    flex-direction: column;
}

.or {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 25px;
}

.instructions {
    padding: 25px;

    li {
        padding: 10px 0;
    }
}

.instructions-button {
    display: flex;
    justify-content: center;

}

.button-zero-margin {
    margin-top: 20px;
}

//  ICON STYLING    //


.social-icons {
    display: flex;
    justify-content: center;

    img {
        margin: 5px 20px;
    }

}

//  BUTTON STYLING  //

button:hover {
    color: $tertiary;
    transition: 0.2s all ease;
}

