// font families

$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Roboto', sans-serif;


// font and background colors

$primary-background: #F2F2F2;
$secondary-background: #CACACA;
$tertiary: #F7850A;
$dark: #000;
$light: #FFF;
$dementia-background: #696969;

// font sizes 

$font-large: 4rem;
$font-medium: 3rem;
$font-small: 2rem;
